*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --clr-text-body: 215 51% 70%;
    --clr-text-highlight: 178 100% 50%;
    --clr-white: 0 0% 100%;
    --clr-blue-line: 215 32% 27%;
    --clr-bg-body: 217 54% 11%;
    --clr-bg-card: 216 50% 16%;

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    
    --fs-300: 1.6rem;
    --fs-400: 1.8rem;
    --fs-900: 2.8rem;
}

@media (max-width: 45em) {
    :root {
        --fs-400: 1.6rem;
    }
}

body {
    font-size: var(--fs-300);
    font-weight: var(--fw-400);
    color: hsl(var(--clr-text-body));
    background: hsl(var(--clr-bg-body));
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.5rem;
}

.card {
    width: 36rem;
    height: 60rem;
    padding: 2rem;
    background: hsl(var(--clr-bg-card));
    border-radius: 2rem;
}

.image img{
    border-radius: 1rem;
    vertical-align: top;
}

.image {
    position: relative;
}

.image:hover:after {
    cursor: pointer;
    content: '';
    background: hsl(var(--clr-white) / 0.3);
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    z-index: 100;
    position: absolute;
    inset: 0 0 0 0;
}

.content a {
    text-decoration: none;
    color: inherit;
}

.content a:where(:hover, :focus) {
    color: hsl(var(--clr-text-highlight));
}

.content h1 {
    color: hsl(var(--clr-white));
    font-weight: var(--fw-600);
    margin-block: 1.5rem;
}

.main-desc {
    font-size: var(--fs-400);
    margin-bottom: 2rem;
}

.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.value img {
    vertical-align: sub;
    margin-right: 0.5rem;
}

.eth {
    color: hsl(var(--clr-text-highlight));
    font-weight: var(--fw-600);
}

hr {
    color: hsl(var(--clr-blue-line));
}

.creator {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.creator img {
    width: 3.5rem;
    border: 1px solid hsl(var(--clr-white));
    border-radius: 10rem;
}

.creator a {
    color: hsl(var(--clr-white));
}

.creator a:hover,
.creator a:focus {
    color: hsl(var(--clr-text-highlight));
}





@media (max-width: 45em) {

    .card {
        width: 33rem;
        height: 55rem;
    }
}